* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

html{
    scroll-behavior: smooth;
}

.nav-main {
    background-color: #262f28;
    height: 50px;
    text-align: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 1px 5px  #464646;
}
.logo {
    display: inline-block;
    padding: 5px 30px;
    height: 40px;
    line-height: 35px;
    color: #fff;
    font-size: 1.5em;
}
.nav-main > ul {
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}
.nav-main > ul > li {
    float: left;
}
.menu-item {
    display: none;
    padding: 5px 57px;
    height: 40px;
    line-height: 40px;
    color: #b9e9de;
    text-decoration: none;
    overflow: hidden;
}
.nav-item {
    display: inline-block;
    padding: 5px 35px;
    height: 40px;
    line-height: 40px;
    color: #b9e9de;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
}
.menu-icon {
    padding: 5px;
    height: 30px;
    transition: transform .7s ease-in-out;
}
.menu-item:hover .menu-icon{
    transform: rotate(180deg);
}
.hoverbar {
    display: none;
    height: 5px;
    background-color: #b9e9de;
}
.menu-item:hover .hoverbar{
    display: block;
}
.nav-item:hover .hoverbar{
    display: block;
}
.nav-item:hover{
    padding: 0px 35px;
}
.menu-item:hover{
    padding: 0px  57px;
}
/*.nav-item:hover {
    background-color: #e6b68e;
    color: #593500;
    transition: 0.3s;
}*/
/*.nav-item:focus {
    background-color: #e6b68e;
}*/
.menu-item:focus ~ .content { 
    max-height: 400px;
    transition: max-height 400ms ease-in;
}	
.nav-item:focus ~ .content { 
    max-height: 400px;
    transition: max-height 400ms ease-in;
}
.content {
    position: absolute;
    top:50px;
    overflow: hidden;
    background-color: #262f28;
    max-height: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 5px #464646;
}
.content a {
    color: white;
    text-decoration: none;
}
.content a:hover {
    color: #b9e9de;
}
.sub {
    padding: 33px;
}
.sub ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.sub a {
    display: inline-block;
    padding: 5px 0;
}
.box{
    height: 100vh;	
}
header {
    position: relative;
    display: flex;
    justify-content: center;
      align-items: center;
    text-align: center;
    height: 100%;
}
header a {
    text-decoration: none;
    color: #b9e9de;
    font-size: 2rem;
    text-transform: uppercase;
}
.header-img {
    background-image: url("croatiabg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: #000;
}

.header:hover.overlay {
    opacity: 1;
}

@media screen and (max-width: 650px) {
      .nav-item {
        display: none;
      }
    .logo {
        display: none;
    }
      .menu-item {
        display: block;
      }
}
.cbox{
    place-items: center;
    text-align: center;
    padding: 15rem 0;
}

.image-container {
    display: inline-block;
    position: relative;
    width: 400px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #97cfc2;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.image-container:hover .image-overlay {
    bottom: 0;
    height: 100%;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.theBox{ 
    width: 400px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
     margin: 10px 0px 40px 15px;
    display:inline-block;
 }

.theBox img {
    object-fit: cover;
}

.txtBox{
    position: absolute;
    height: 140px;
    width: 100%;
    bottom: 0;
    background-color: #72936e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #262f28;
    justify-content: center;
    line-height: 125px;
}